@media screen and (min-width: 375px) and (max-width: 768px){
    .main-title {
        font-size: 4rem;
    }
    h1 {
        font-size: 3rem;
    }
    .intro-box {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text-box {
        font-size: 1.2rem;
    }
    .text-con {
        font-size: 0.9rem;
        padding: 1rem;
    }
}